<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom CSS-->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Register</title>
</head>

<body>
    <div class="container rounded shadow-sm">
        <header
            class="header d-flex flex-wrap align-items-center justify-content-center justify-content-between py-2 mt-3 mb-5">
            <div class="col m-auto text-center">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img src="/assets/logo.png" class="header__logo" alt="Logo">
                </a>
            </div>

            <ul class="nav col-12 col-auto justify-content-center header__nav">
                <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Login</a>
                </li>
                <li class="nav-item"><a href="/register" class="nav-link header__link-active">Register</a></li>
                <li class="nav-item"><a href="/catalog" class="nav-link">Catalog</a></li>
            </ul>
        </header>
    </div>

    <div class="container text-center mb-4">
        <h1>Register</h1>
    </div>


    <div class="container col-md-8 bg-primary p-4 rounded mb-5">
        <form id="registerForm" action="/login">

            <div class="row gx-3 mb-2">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="fullName" class="form-label text-light">Full name</label>
                        <input type="text" class="form-control" id="fullName">
                        <div class="error-message" id="fullNameError"></div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label text-light">Email</label>
                        <input type="email" class="form-control" id="email">
                        <div class="error-message" id="emailError"></div>
                    </div>

                    <div class="mb-3">
                        <label for="documentType" class="form-label text-light">Document type</label>
                        <select class="form-select" id="documentType" aria-label="Default select example">
                            <option selected>Select document</option>
                            <option value="CC">CC</option>
                            <option value="DNI">DNI</option>
                            <option value="Passport">Passport</option>
                        </select>
                    </div>


                    <div class="mb-3">
                        <label for="password" class="form-label text-light">Password</label>
                        <input type="password" class="form-control" id="password">
                        <div class="error-message" id="passwordError"></div>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="mb-3">
                        <label for="phone" class="form-label text-light">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                        <div class="error-message" id="phoneError"></div>
                    </div>

                    <div class="mb-3">
                        <label for="userName" class="form-label text-light">User Name</label>
                        <input type="text" class="form-control" id="userName" name="userName">
                        <div class="error-message" id="usernameError"></div>
                    </div>

                    <div class="mb-3">
                        <label for="documentNumber" class="form-label text-light">Document number</label>
                        <input type="text" class="form-control" id="documentNumber">
                        <div class="error-message" id="documentNumberError"></div>
                    </div>

                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label text-light">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword">
                        <div class="error-message" id="confirmPasswordError"></div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn bg-light fw-bold w-50">Submit</button>
            </div>
        </form>
    </div>

    <!--  Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <script type="module" src="/js/register.js"></script>
</body>

</html>